## Import the necessary libraries

In [296]:
import pandas as pd
import json
from pandas.io.json import json_normalize

## Load as Pandas dataframe

In [297]:

sample_json_df = pd.read_json('data/world_bank_projects.json')

## See the first and last 10 entries

In [298]:
sample_json_df.head(10)

sample_json_df.tail(10)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
490,{'$oid': '52b213b38594d8a2be17c96a'},2013,August,2012-08-29T00:00:00Z,GOVERNMENT OF NEPAL,2014-06-30T00:00:00Z,Nepal!$!NP,NP,Nepal,Nepal,...,BZ,IBRD,Active,N,"{'Percent': 80, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","29,27",0,800000,http://www.worldbank.org/projects/P131860/stre...
491,{'$oid': '52b213b38594d8a2be17c96b'},2013,August,2012-08-24T00:00:00Z,PALESTINIAN WATER AUTHORITY,2014-03-31T00:00:00Z,West Bank and Gaza!$!GZ,GZ,West Bank and Gaza,West Bank and Gaza,...,"WC,WA",IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,0,3650000,http://www.worldbank.org/projects/P123322/wate...
492,{'$oid': '52b213b38594d8a2be17c96c'},2013,August,2012-08-21T00:00:00Z,GOVERNMENT OF PAKISTAN,2015-06-30T00:00:00Z,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,EP,IBRD,Active,N,"{'Percent': 70, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}, ...","59,65",0,10000000,http://www.worldbank.org/projects/P128096/paki...
493,{'$oid': '52b213b38594d8a2be17c96d'},2013,August,2012-08-21T00:00:00Z,GOVERNMENT OF BANGLADESH,2015-04-30T00:00:00Z,People's Republic of Bangladesh!$!BD,BD,People's Republic of Bangladesh,Bangladesh,...,BC,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P132138/revi...
494,{'$oid': '52b213b38594d8a2be17c96e'},2013,August,2012-08-17T00:00:00Z,MINISTRY OF EDUCATION,2014-06-30T00:00:00Z,Nepal!$!NP,NP,Nepal,Nepal,...,EZ,IBRD,Active,N,"{'Percent': 100, 'Name': 'Natural disaster man...","[{'code': '52', 'name': 'Natural disaster mana...",52,0,1510000,http://www.worldbank.org/projects/P129177/nepa...
495,{'$oid': '52b213b38594d8a2be17c96f'},2013,August,2012-08-10T00:00:00Z,THE COMPETITIVENESS COMPANY,2013-08-31T00:00:00Z,Jamaica!$!JM,JM,Jamaica,Jamaica,...,"EV,AZ",IBRD,Closed,N,"{'Percent': 50, 'Name': 'Regulation and compet...","[{'code': '40', 'name': 'Regulation and compet...","62,40",0,50000,http://www.worldbank.org/projects/P127299/tech...
496,{'$oid': '52b213b38594d8a2be17c970'},2013,August,2012-08-09T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2012-12-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,"YZ,JA,EZ,FZ,BC",IBRD,Closed,N,"{'Percent': 14, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","65,27,49,63",20000000,20000000,http://www.worldbank.org/projects/P125298/lao-...
497,{'$oid': '52b213b38594d8a2be17c971'},2013,August,2012-08-03T00:00:00Z,GOVERNMENT OF THE REPUBLIC OF GUINEA,2014-12-31T00:00:00Z,Republic of Guinea!$!GN,GN,Republic of Guinea,Guinea,...,"AB,AH,AI",IBRD,Active,N,"{'Percent': 100, 'Name': 'Global food crisis r...","[{'code': '91', 'name': 'Global food crisis re...",91,0,20000000,http://www.worldbank.org/projects/P128309/seco...
498,{'$oid': '52b213b38594d8a2be17c972'},2013,August,2012-08-02T00:00:00Z,REPUBLIC OF INDONESIA,2017-09-30T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,"YA,BL,AB",IBRD,Active,N,"{'Percent': 85, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","77,91,78",80000000,80000000,http://www.worldbank.org/projects/P117243/sust...
499,{'$oid': '52b213b38594d8a2be17c973'},2013,August,2012-08-02T00:00:00Z,GOVERMENT OF KENYA,2018-12-31T00:00:00Z,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,"BV,TC",IBRD,Active,N,"{'Percent': 1, 'Name': 'Municipal governance a...","[{'code': '73', 'name': 'Municipal governance ...","39,49,88,73",300000000,300000000,http://www.worldbank.org/projects/P126321/keny...

## What is the number of observations in the dataset?

In [299]:
sample_json_df.shape[0] #500 observations
sample_json_df.info() #500 observations

#15 borrowers are missing 
#54 docty are missing
#70 envassesmentcategorycode are missing
#impagency are missing

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 199.2+ KB

In [300]:
sample_json_df.shape[1]

50

<b>What is the number of columns in the dataset and print the name of all the columns.</b>

In [301]:
sample_json_df.shape[1] #50 columns in the dataset
sample_json_df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

## How is the dataset indexed?

In [302]:
sample_json_df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            490, 491, 492, 493, 494, 495, 496, 497, 498, 499],
           dtype='int64', length=500)

## Handle missing Data

In [303]:
sample_json_df["project_abstract"].fillna(sample_json_df["project_abstract"], inplace=True)
sample_json_df["project_abstract"]

0      {'cdata': 'The development objective of the Se...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4      {'cdata': 'The development objective of the Se...
5                                                    NaN
6      {'cdata': 'The development objective of the pr...
7      {'cdata': 'The development objective of the Se...
8      {'cdata': 'The development objective of the Ra...
9      {'cdata': 'The objective of this First Transpa...
10     {'cdata': 'The development objective of the Ad...
11     {'cdata': 'The objective of the Uttarakhand Di...
12     {'cdata': 'The development objective of the e-...
13     {'cdata': 'The development objective of the Ad...
14                                                   NaN
15     {'cdata': 'The development objective of the En...
16     {'cdata': 'The development objective of the Ag...
17                                                   NaN
18                                                   NaN
19                                                   NaN
20                                                   NaN
21                                                   NaN
22     {'cdata': 'The objective of the Emergency Serv...
23                                                   NaN
24     {'cdata': 'The development objective of the Ag...
25     {'cdata': 'The development objective of the Ca...
26     {'cdata': 'The objective of the Ninth Poverty ...
27     {'cdata': 'The development objective of the Pa...
28                                                   NaN
29                                                   NaN
                             ...
470    {'cdata': 'The objective of the Additional Fin...
471    {'cdata': 'The development objective of the Se...
472                                                  NaN
473                                                  NaN
474    {'cdata': 'The development objectives of the P...
475    {'cdata': 'The development objective is to str...
476    {'cdata': 'The development objectives of the D...
477    {'cdata': 'The development objective of the Ad...
478    {'cdata': 'The objective of the Additional Fin...
479                                                  NaN
480                                                  NaN
481    {'cdata': 'The objective of Integrated Child D...
482    {'cdata': 'The objective of the Second Karnata...
483    {'cdata': 'The objective of Development Policy...
484                                                  NaN
485                                                  NaN
486                                                  NaN
487    {'cdata': 'The object of the Sustainable Produ...
488    {'cdata': 'The development objective of the Th...
489                                                  NaN
490                                                  NaN
491                                                  NaN
492                                                  NaN
493                                                  NaN
494                                                  NaN
495                                                  NaN
496    {'cdata': 'The development objective of the Ei...
497                                                  NaN
498    {'cdata': 'The development objective of the Su...
499    {'cdata': 'The objectives of the National Urba...
Name: project_abstract, Length: 500, dtype: object

## Fill in missing in lendprojectcost with each project_name’s mean value of lendprojectcost

In [304]:
sample_json_df["meanprojectcost"]=sample_json_df['lendprojectcost']
sample_json_df["meanprojectcost"].fillna(sample_json_df.groupby("project_name")["lendprojectcost"].transform("mean"), inplace=True)
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url,meanprojectcost
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...,550000000
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en,5700000
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en,6060000
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en,1500000
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...,15000000
5,{'$oid': '52b213b38594d8a2be17c785'},2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,IBRD,Active,Y,"{'Percent': 100, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'}]",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en,66400000
6,{'$oid': '52b213b38594d8a2be17c786'},2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,"{'Percent': 20, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...,1146050000
7,{'$oid': '52b213b38594d8a2be17c787'},2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...,27280000
8,{'$oid': '52b213b38594d8a2be17c788'},2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,"{'Percent': 87, 'Name': 'Other rural developme...","[{'code': '79', 'name': 'Other rural developme...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...,227000000
9,{'$oid': '52b213b38594d8a2be17c789'},2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,IBRD,Active,N,"{'Percent': 33, 'Name': 'Other accountability/...","[{'code': '29', 'name': 'Other accountability/...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en,200000000
10,{'$oid': '52b213b38594d8a2be17c78a'},2014,October,2013-10-25T00:00:00Z,GOVERNMENT OF SOUTH SUDAN,NaN,Republic of South Sudan!$!SS,SS,Republic of South Sudan,South Sudan,...,IBRD,Active,Y,"{'Percent': 100, 'Name': 'Global food crisis r...","[{'code': '91', 'name': 'Global food crisis re...",91,0,7530000,http://www.worldbank.org/projects/P145339?lang=en,7530000
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en,250000000
12,{'$oid': '52b213b38594d8a2be17c78c'},2014,October,2013-10-24T00:00:00Z,GOVERNMENT OF GHANA,2019-06-30T00:00:00Z,Republic of Ghana!$!GH,GH,Republic of Ghana,Ghana,...,IBRD,Active,N,"{'Percent': 0, 'Name': ''}",NaN,NaN,97000000,97000000,http://www.worldbank.org/projects/P144140/gh-e...,97000000
13,{'$oid': '52b213b38594d8a2be17c78d'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF TIMOR LESTE,NaN,Democratic Republic of Timor-Leste!$!TP,TP,Democratic Republic of Timor-Leste,Timor-Leste,...,IBRD,Active,Y,"{'Percent': 20, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","78,81,47",40000000,40000000,http://www.worldbank.org/projects/P130975/timo...,92000000
14,{'$oid': '52b213b38594d8a2be17c78e'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF JORDAN,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,IBRD,Active,N,"{'Percent': 50, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","53,56,54",0,9500000,http://www.worldbank.org/projects/P144832?lang=en,10000000
15,{'$oid': '52b213b38594d8a2be17c78f'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","49,81,78",20000000,20000000,http://www.worldbank.org/projects/P145545?lang=en,20000000
16,{'$oid': '52b213b38594d8a2be17c790'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2015-12-31T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other rural developm...","[{'code': '79', 'name': 'Other rural developme...",79,5000000,5000000,http://www.worldbank.org/projects/P145938?lang=en,5000000
17,{'$oid': '52b213b38594d8a2be17c791'},2014,October,2013-10-16T00:00:00Z,MINISTRY OF FINANCE AND BUDGET (MFB),NaN,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,0,85400000,http://www.worldbank.org/projects/P132616?lang=en,85400000
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,IBRD,Active,Y,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en,13450000
19,{'$oid': '52b213b38594d8a2be17c793'},2014,October,2013-10-10T00:00:00Z,MINISTRY OF FINANCE,NaN,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,IBRD,Active,N,"{'Percent': 40, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","25,26,27",0,4350000,http://www.worldbank.org/projects/P143979?lang=en,4550000
20,{'$oid': '52b213b38594d8a2be17c794'},2014,October,2013-10-09T00:00:00Z,AGA KHAN DEVELOPMENT NETWORK (AKDN),NaN,Kyrgyz Republic!$!KG,KG,Kyrgyz Republic,Kyrgyz Republic,...,IBRD,Active,N,"{'Percent': 50, 'Name': 'Conflict prevention a...","[{'code': '58', 'name': 'Conflict prevention a...","57,58",0,2000000,http://www.worldbank.org/projects/P132577?lang=en,2000000
21,{'$oid': '52b213b38594d8a2be17c795'},2014,October,2013-10-07T00:00:00Z,NEPAL,NaN,Nepal!$!NP,NP,Nepal,Nepal,...,IBRD,Active,N,"{'Percent': 30, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","57,71",0,2750000,http://www.worldbank.org/projects/P145359?lang=en,2750000
22,{'$oid': '52b213b38594d8a2be17c796'},2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,IBRD,Active,N,"{'Percent': 25, 'Name': 'Other social developm...","[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en,53000000
23,{'$oid': '52b213b38594d8a2be17c797'},2014,October,2013-10-03T00:00:00Z,REPUBLIC OF TAJIKISTAN,NaN,Republic of Tajikistan!$!TJ,TJ,Republic of Tajikistan,Tajikistan,...,IBRD,Active,N,"{'Percent': 60, 'Name': 'Nutrition and food se...","[{'code': '68', 'name': 'Nutrition and food se...","63,68",0,2800000,http://www.worldbank.org/projects/P146109?lang=en,2800000
24,{'$oid': '52b213b38594d8a2be17c798'},2014,September,2013-09-30T00:00:00Z,REPUBLIC OF AZERBAIJAN,2018-12-31T00:00:00Z,Republic of Azerbaijan!$!AZ,AZ,Republic of Azerbaijan,Azerbaijan,...,IBRD,Active,N,"{'Percent': 30, 'Name': 'Rural markets'}","[{'code': '75', 'name': 'Rural markets'}, {'co...","56,78,76,75",34500000,34500000,http://www.worldbank.org/projects/P122812/thir...,53250000
25,{'$oid': '52b213b38594d8a2be17c799'},2014,September,2013-09-30T00:00:00Z,UNIVERSITY OF QUEENSLAND,NaN,East Asia and Pacific!$!4E,4E,East Asia and Pacific,East Asia and Pacific,...,IBRD,Active,N,"{'Percent': 40, 'Name': 'Other environment and...","[{'code': '86', 'name': 'Other environment and...","80,81,86",0,4500000,http://www.worldbank.org/projects/P123933/capt...,6500000
26,{'$oid': '52b213b38594d8a2be17c79a'},2014,September,2013-09-30T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2014-03-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,IBRD,Closed,N,"{'Percent': 14, 'Name': 'Regulation and compet...","[{'code': '40', 'name': 'Regulation and compet...","67,27,49,40",20000000,20000000,http://www.worldbank.org/projects/P143025/lao-...,20000000
27,{'$oid': '52b213b38594d8a2be17c79b'},2014,September,2013-09-30T00:00:00Z,PACIFIC AVIATION SECURITY OFFICE,2018-12-31T00:00:00Z,Pacific Islands!$!4P,4P,Pacific Islands,Pacific Islands,...,IBRD,Active,N,"{'Percent': 5, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","52,47,25,81",2150000,2150000,http://www.worldbank.org/projects/P145057/paci...,2150000
28,{'$oid': '52b213b38594d8a2be17c79c'},2014,September,2013-09-30T00:00:00Z,SOLOMON ISLANDS GOVERNMENT,NaN,Solomon Islands!$!SB,SB,Solomon Islands,Solomon Islands,...,IBRD,Active,Y,"{'Percent': 30, 'Name': 'Rural policies and in...","[{'code': '77', 'name': 'Rural policies and in...","57,78,77",3000000,3000000,http://www.worldbank.org/projects/P146021?lang=en,5500000
29,{'$oid': '52b213b38594d8a2be17c79d'},2014,September,2013-09-27T00:00:00Z,GOVERNMENT OF MOZAMBIQUE,NaN,Republic of Mozambique!$!MZ,MZ,Republic of Mozambique,Mozambique,...,IBRD,Active,Y,"{'Percent': 4, 'Name': 'Other social developme...","[{'code': '62', 'name': 'Other social developm...","85,62",32000000,32000000,http://www.worldbank.org/projects/P146098?lang=en,32000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,{'$oid': '52b213b38594d8a2be17c956'},2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF LIBERIA,NaN,Republic of Liberia!$!LR,LR,Republic of Liberia,Liberia,...,IBRD,Active,Y,"{'Percent': 40, 'Name': 'Trade facilitation an...","[{'code': '49', 'name': 'Trade facilitation an...","78,49",50000000,50000000,http://www.worldbank.org/projects/P129654/libe...,50000000
471,{'$oid': '52b213b38594d8a2be17c957'},2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF BANGLADESH,2018-12-31T00:00:00Z,People's Republic of Bangladesh!$!BD,BD,People's Republic of Bangladesh,Bangladesh,...,IBRD,Active,N,"{'Percent': 45, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","59,81,57,78",155000000,155000000,http://www.worldbank.org/projects/P131263/rura...,386000000
472,{'$oid': '52b213b38594d8a2be17c958'},2013,September,2012-09-13T00:00:00Z,MINISTRY OF NATURE PROTECTION,2014-09-30T00:00:00Z,Republic of Armenia!$!AM,AM,Republic of Armenia,Armenia,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P131631/repo...,190000
473,{'$oid': '52b213b38594d8a2be17c959'},2013,September,2012-09-13T00:00:00Z,"MINISTRY OF ENVIRONMENT, FORESTS, WATER",NaN,Republic of Albania!$!AL,AL,Republic of Albania,Albania,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P132679/land...,180000
474,{'$oid': '52b213b38594d8a2be17c95a'},2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF PAKISTAN,2017-06-30T00:00:00Z,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,IBRD,Active,N,"{'Percent': 34, 'Name': 'Municipal finance'}","[{'code': '72', 'name': 'Municipal finance'}, ...","73,72",150000000,150000000,http://www.worldbank.org/projects/P112901/pk-p...,154000000
475,{'$oid': '52b213b38594d8a2be17c95b'},2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF INDONESIA,2018-03-31T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,IBRD,Active,N,"{'Percent': 25, 'Name': 'Infrastructure servic...","[{'code': '39', 'name': 'Infrastructure servic...","72,39",29600000,29600000,http://www.worldbank.org/projects/P118916/infr...,79600000
476,{'$oid': '52b213b38594d8a2be17c95c'},2013,September,2012-09-11T00:00:00Z,SOCIALIST REPUBLIC OF VIETNAM,2018-12-31T00:00:00Z,Socialist Republic of Vietnam!$!VN,VN,Socialist Republic of Vietnam,Vietnam,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,448900000,448900000,http://www.worldbank.org/projects/P125996/dist...,800000000
477,{'$oid': '52b213b38594d8a2be17c95d'},2013,September,2012-09-11T00:00:00Z,REPUBLIC OF UZBEKISTAN,NaN,Republic of Uzbekistan!$!UZ,UZ,Republic of Uzbekistan,Uzbekistan,...,IBRD,Active,Y,"{'Percent': 40, 'Name': 'Micro, Small and Medi...","[{'code': '41', 'name': 'Micro, Small and Medi...","75,41",40000000,40000000,http://www.worldbank.org/projects/P126962/addi...,30400000
478,{'$oid': '52b213b38594d8a2be17c95e'},2013,September,2012-09-11T00:00:00Z,ISLAMIC REPUBLIC OF PAKISTAN,NaN,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,IBRD,Active,Y,"{'Percent': 10, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","83,36,25",70000000,70000000,http://www.worldbank.org/projects/P131266/punj...,70000000
479,{'$oid': '52b213b38594d8a2be17c95f'},2013,September,2012-09-10T00:00:00Z,UT'Z CHE,2016-05-07T00:00:00Z,Republic of Guatemala!$!GT,GT,Republic of Guatemala,Guatemala,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other social develop...","[{'code': '62', 'name': 'Other social developm...",62,0,2510000,http://www.worldbank.org/projects/P130412/stre...,2510000
480,{'$oid': '52b213b38594d8a2be17c960'},2013,September,2012-09-10T00:00:00Z,GOVERNMENT OF ZAMBIA,2014-12-31T00:00:00Z,Republic of Zambia!$!ZM,ZM,Republic of Zambia,Zambia,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other public sector ...","[{'code': '30', 'name': 'Other public sector g...",30,0,350000,http://www.worldbank.org/projects/P131881/zamb...,350000
481,{'$oid': '52b213b38594d8a2be17c961'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2015-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,"{'Percent': 23, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","68,59,57,63",106000000,106000000,http://www.worldbank.org/projects/P121731/icds...,151500000
482,{'$oid': '52b213b38594d8a2be17c962'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,"{'Percent': 10, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","79,85,86,78",60000000,60000000,http://www.worldbank.org/projects/P122486/karn...,85700000
483,{'$oid': '52b213b38594d8a2be17c963'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2013-09-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Closed,N,"{'Percent': 19, 'Name': 'Pollution management ...","[{'code': '84', 'name': 'Pollution management ...","82,78,81,84",100000000,100000000,http://www.worldbank.org/projects/P124041/hima...,100000000
484,{'$oid': '52b213b38594d8a2be17c964'},2013,September,2012-09-06T00:00:00Z,"ILO, MINLAND & CFSI & BANK",2015-12-31T00:00:00Z,Republic of the Philippines!$!PH,PH,Republic of the Philippines,Philippines,...,IBRD,Active,Y,"{'Percent': 9, 'Name': 'Rural non-farm income ...","[{'code': '76', 'name': 'Rural non-farm income...","78,58,41,76",0,5570000,http://www.worldbank.org/projects/P132238/mult...,5730000
485,{'$oid': '52b213b38594d8a2be17c965'},2013,September,2012-09-05T00:00:00Z,GOVERNMENT OF MONGOLIA,2013-12-31T00:00:00Z,Mongolia!$!MN,MN,Mongolia,Mongolia,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other communicable d...","[{'code': '64', 'name': 'Other communicable di...",64,0,2900000,http://www.worldbank.org/projects/P131204/capa...,2900000
486,{'$oid': '52b213b38594d8a2be17c966'},2013,September,2012-09-01T00:00:00Z,GOVERNMENT OF LEBANON & JORDAN,2015-01-31T00:00:00Z,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,IBRD,Active,N,"{'Percent': 25, 'Name': 'Other public sector g...","[{'code': '30', 'name': 'Other public sector g...","54,55,56,30",0,2400000,http://www.worldbank.org/projects/P132097/5m-d...,2400000
487,{'$oid': '52b213b38594d8a2be17c967'},2013,August,2012-08-30T00:00:00Z,UNITED MEXICAN STATES,2017-08-31T00:00:00Z,United Mexican States!$!MX,MX,United Mexican States,Mexico,...,IBRD,Active,N,"{'Percent': 20, 'Name': 'Biodiversity'}","[{'code': '80', 'name': 'Biodiversity'}, {'cod...","82,79,77,80",0,11690000,http://www.worldbank.org/projects/P121116/sust...,30890000
488,{'$oid': '52b213b38594d8a2be17c968'},2013,August,2012-08-30T00:00:00Z,THE STATE OF RIO DE JANEIRO,2014-01-31T00:00:00Z,Federative Republic of Brazil!$!BR,BR,Federative Republic of Brazil,Brazil,...,IBRD,Closed,N,"{'Percent': 20, 'Name': 'Health system perform...","[{'code': '67', 'name': 'Health system perform...","65,28,27,67",300000000,300000000,http://www.worldbank.org/projects/P126465/rio-...,300000000
489,{'$oid': '52b213b38594d8a2be17c969'},2013,August,2012-08-30T00:00:00Z,UN-HABITAT,2015-06-30T00:00:00Z,The Independent State of Papua New Guine!$!PG,PG,The Independent State of Papua New Guine,Papua New Guinea,...,IBRD,Closed,N,"{'Percent': 50, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","73,55,52,71",0,350000,http://www.worldbank.org/projects/P128763/papu...,350000
490,{'$oid': '52b213b38594d8a2be17c96a'},2013,August,2012-08-29T00:00:00Z,GOVERNMENT OF NEPAL,2014-06-30T00:00:00Z,Nepal!$!NP,NP,Nepal,Nepal,...,IBRD,Active,N,"{'Percent': 80, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","29,27",0,800000,http://www.worldbank.org/projects/P131860/stre...,800000
491,{'$oid': '52b213b38594d8a2be17c96b'},2013,August,2012-08-24T00:00:00Z,PALESTINIAN WATER AUTHORITY,2014-03-31T00:00:00Z,West Bank and Gaza!$!GZ,GZ,West Bank and Gaza,West Bank and Gaza,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,0,3650000,http://www.worldbank.org/projects/P123322/wate...,3650000

## Select the rows of df where sector4 is not NaN and lendprojectcost is not NaN

In [305]:
sample_json_df[sample_json_df['sector4'].notnull() & sample_json_df['lendprojectcost'].notnull()].head(5)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url,meanprojectcost
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...,550000000
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en,250000000
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,IBRD,Active,Y,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en,13450000
22,{'$oid': '52b213b38594d8a2be17c796'},2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,IBRD,Active,N,"{'Percent': 25, 'Name': 'Other social developm...","[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en,53000000
26,{'$oid': '52b213b38594d8a2be17c79a'},2014,September,2013-09-30T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2014-03-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,IBRD,Closed,N,"{'Percent': 14, 'Name': 'Regulation and compet...","[{'code': '40', 'name': 'Regulation and compet...","67,27,49,40",20000000,20000000,http://www.worldbank.org/projects/P143025/lao-...,20000000

## How many different projects are being worked on?

In [306]:
sample_json_df.project_name.value_counts().count()

500

## How many different countries are part of world bank project?

In [308]:
sample_json_df.countrycode.value_counts().count()

118

## List Approval Fiscal Years?

In [309]:
approval_fiscal_years = sample_json_df['approvalfy'].unique()
approval_fiscal_years

array([1999, 2015, 2014, 2013])

## List top 10 projects with highest grant amount

In [312]:


c=sample_json_df[sample_json_df['projectstatusdisplay']=='Active'].groupby(['project_name','countryname']).sum()

c=c.sort_values(['grantamt'],ascending=False).head(10)

c = c.drop(['ibrdcommamt', 'idacommamt','totalamt','totalcommamt'], axis=1)

## Select project columns

In [313]:
sample_json_df.loc[:,['_id','countrycode','countryname','project_name','projectdocs','projectstatusdisplay']]

,_id,countrycode,countryname,project_name,projectdocs,projectstatusdisplay
0,{'$oid': '52b213b38594d8a2be17c780'},ET,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...",Active
1,{'$oid': '52b213b38594d8a2be17c781'},TN,Republic of Tunisia,TN: DTF Social Protection Reforms Support,"[{'DocDate': '29-MAR-2013', 'EntityID': '00033...",Active
2,{'$oid': '52b213b38594d8a2be17c782'},TV,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"[{'DocDate': '21-OCT-2013', 'EntityID': '00033...",Active
3,{'$oid': '52b213b38594d8a2be17c783'},RY,Republic of Yemen,Gov't and Civil Society Organization Partnership,"[{'DocDate': '15-MAY-2013', 'EntityID': '00035...",Active
4,{'$oid': '52b213b38594d8a2be17c784'},LS,Kingdom of Lesotho,Second Private Sector Competitiveness and Econ...,"[{'DocDate': '06-SEP-2013', 'EntityID': '09022...",Active
5,{'$oid': '52b213b38594d8a2be17c785'},KE,Republic of Kenya,Additional Financing for Cash Transfers for Or...,"[{'DocDate': '16-SEP-2013', 'EntityID': '09022...",Active
6,{'$oid': '52b213b38594d8a2be17c786'},IN,Republic of India,National Highways Interconnectivity Improvemen...,"[{'DocDate': '02-OCT-2013', 'EntityID': '00035...",Active
7,{'$oid': '52b213b38594d8a2be17c787'},CN,People's Republic of China,China Renewable Energy Scale-Up Program Phase II,"[{'DocDate': '18-SEP-2013', 'EntityID': '00045...",Active
8,{'$oid': '52b213b38594d8a2be17c788'},IN,Republic of India,Rajasthan Road Sector Modernization Project,"[{'DocDate': '01-OCT-2013', 'EntityID': '00044...",Active
9,{'$oid': '52b213b38594d8a2be17c789'},MA,Kingdom of Morocco,MA Accountability and Transparency DPL,"[{'DocDate': '30-SEP-2013', 'EntityID': '00033...",Active
10,{'$oid': '52b213b38594d8a2be17c78a'},SS,Republic of South Sudan,Southern Sudan Emergency Food Crisis Response ...,"[{'DocDate': '01-OCT-2013', 'EntityID': '00044...",Active
11,{'$oid': '52b213b38594d8a2be17c78b'},IN,Republic of India,Uttarakhand Disaster Recovery Project,"[{'DocDate': '11-OCT-2013', 'EntityID': '00033...",Active
12,{'$oid': '52b213b38594d8a2be17c78c'},GH,Republic of Ghana,GH eTransform Ghana,"[{'DocDate': '26-SEP-2013', 'EntityID': '00045...",Active
13,{'$oid': '52b213b38594d8a2be17c78d'},TP,Democratic Republic of Timor-Leste,Timor Leste Road Climate Resilience Project - ...,"[{'DocDate': '11-SEP-2012', 'EntityID': '00010...",Active
14,{'$oid': '52b213b38594d8a2be17c78e'},JO,Hashemite Kingdom of Jordan,NATIONAL UNIFIED REGISTRY AND OUTREACH WORKER ...,NaN,Active
15,{'$oid': '52b213b38594d8a2be17c78f'},WS,Samoa,Enhanced Road Access Project,"[{'DocDate': '21-AUG-2013', 'EntityID': '00044...",Active
16,{'$oid': '52b213b38594d8a2be17c790'},WS,Samoa,Samoa Agriculture & Fisheries Cyclone Response...,"[{'DocDate': '19-SEP-2013', 'EntityID': '00044...",Active
17,{'$oid': '52b213b38594d8a2be17c791'},MG,Republic of Madagascar,Emergency Support to Education For all Project,"[{'DocDate': '21-SEP-2013', 'EntityID': '00035...",Active
18,{'$oid': '52b213b38594d8a2be17c792'},KH,Kingdom of Cambodia,Additional Financing for the Second Health Sec...,"[{'DocDate': '14-OCT-2013', 'EntityID': '00035...",Active
19,{'$oid': '52b213b38594d8a2be17c793'},MA,Kingdom of Morocco,DTF:MA- Support New Governance Framework,"[{'DocDate': '23-JAN-2013', 'EntityID': '00035...",Active
20,{'$oid': '52b213b38594d8a2be17c794'},KG,Kyrgyz Republic,SOCIAL COHESION THROUGH COMMUNITY-BASED DEVELO...,"[{'DocDate': '08-AUG-2013', 'EntityID': '00033...",Active
21,{'$oid': '52b213b38594d8a2be17c795'},NP,Nepal,Nepal: Pro-poor Urban Regeneration Pilot,"[{'DocDate': '20-SEP-2013', 'EntityID': '00035...",Active
22,{'$oid': '52b213b38594d8a2be17c796'},JO,Hashemite Kingdom of Jordan,Jordan- Emergency Services and Social Resilience,"[{'DocDate': '10-OCT-2013', 'EntityID': '00033...",Active
23,{'$oid': '52b213b38594d8a2be17c797'},TJ,Republic of Tajikistan,Tajikistan JSDF Nutrition Grant Scale Up,NaN,Active
24,{'$oid': '52b213b38594d8a2be17c798'},AZ,Republic of Azerbaijan,AGRICULTURAL COMPETITIVENESS IMPROVEMENT PROJECT,"[{'DocDate': '05-SEP-2013', 'EntityID': '00044...",Active
25,{'$oid': '52b213b38594d8a2be17c799'},4E,East Asia and Pacific,Capturing Coral Reef Ecosystem Services (CCRES),"[{'DocDate': '04-SEP-2013', 'EntityID': '00035...",Active
26,{'$oid': '52b213b38594d8a2be17c79a'},LA,Lao People's Democratic Republic,Lao PDR Ninth Poverty Reduction Support Operation,"[{'DocDate': '10-OCT-2013', 'EntityID': '09022...",Closed
27,{'$oid': '52b213b38594d8a2be17c79b'},4P,Pacific Islands,Pacific Aviation Safety Office Reform,"[{'DocDate': '03-SEP-2013', 'EntityID': '00035...",Active
28,{'$oid': '52b213b38594d8a2be17c79c'},SB,Solomon Islands,Additional Financing 2 - Solomon Islands Rural...,"[{'DocDate': '21-AUG-2013', 'EntityID': '09022...",Active
29,{'$oid': '52b213b38594d8a2be17c79d'},MZ,Republic of Mozambique,Water Resources Development Flood Response Add...,"[{'DocDate': '13-SEP-2013', 'EntityID': '09022...",Active
...,...,...,...,...,...,...
470,{'$oid': '52b213b38594d8a2be17c956'},LR,Republic of Liberia,Road Asset Management Project - Additional Fin...,"[{'DocDate': '23-AUG-2012', 'EntityID': '00040...",Active
471,{'$oid': '52b213b38594d8a2be17c957'},BD,People's Republic of Bangladesh,Rural Electrification and Renewable Energy Dev...,"[{'DocDate': '20-JUN-2013', 'EntityID': '09022...",Active
472,{'$oid': '52b213b38594d8a2be17c958'},AM,Republic of Armenia,Reports to Conventions - UNCCD - Armenia,NaN,Active
473,{'$oid': '52b213b38594d8a2be17c959'},AL,Republic of Albania,Land Degradation Enabling Activities - Albania,NaN,Active
474,{'$oid': '52b213b38594d8a2be17c95a'},PK,Islamic Republic of Pakistan,PK: Punjab Cities Governance Improvement,"[{'DocDate': '12-JUN-2013', 'EntityID': '09022...",Active
475,{'$oid': '52b213b38594d8a2be17c95b'},ID,Republic of Indonesia,Indonesia Infrastructure Guarantee Fund Project,"[{'DocDate': '25-AUG-2013', 'EntityID': '09022...",Active
476,{'$oid': '52b213b38594d8a2be17c95c'},VN,Socialist Republic of Vietnam,Distribution Efficiency Project,"[{'DocDate': '27-OCT-2013', 'EntityID': '09022...",Active
477,{'$oid': '52b213b38594d8a2be17c95d'},UZ,Republic of Uzbekistan,Additional Financing for the Second Rural Ente...,"[{'DocDate': '06-AUG-2012', 'EntityID': '00035...",Active
478,{'$oid': '52b213b38594d8a2be17c95e'},PK,Islamic Republic of Pakistan,Punjab Land Records Management and Information...,"[{'DocDate': '02-AUG-2012', 'EntityID': '00033...",Active
479,{'$oid': '52b213b38594d8a2be17c95f'},GT,Republic of Guatemala,Strengthening the resilience capacity of Maya ...,"[{'DocDate': '24-APR-2013', 'EntityID': '09022...",Active
480,{'$oid': '52b213b38594d8a2be17c960'},ZM,Republic of Zambia,Zambia - Extractive Industries Transparency In...,NaN,Active
481,{'$oid': '52b213b38594d8a2be17c961'},IN,Republic of India,India: ICDS Systems Strengthening & Nutrition ...,"[{'DocDate': '10-SEP-2013', 'EntityID': '09022...",Active
482,{'$oid': '52b213b38594d8a2be17c962'},IN,Republic of India,Karnataka Watershed Development II,"[{'DocDate': '05-NOV-2013', 'EntityID': '09022...",Active
483,{'$oid': '52b213b38594d8a2be17c963'},IN,Republic of India,IN: Development Policy Loan (DPL) to Promote I...,"[{'DocDate': '02-JAN-2013', 'EntityID': '09022...",Closed
484,{'$oid': '52b213b38594d8a2be17c964'},PH,Republic of the Philippines,Multi Donor Facility - PH Mindanao Reconstruct...,"[{'DocDate': '28-NOV-2012', 'EntityID': '09022...",Active
485,{'$oid': '52b213b38594d8a2be17c965'},MN,Mongolia,Capacity Builiding for Emerging Infectious Dis...,"[{'DocDate': '23-APR-2013', 'EntityID': '00044...",Active
486,{'$oid': '52b213b38594d8a2be17c966'},5M,Middle East and North Africa,5M: Displaced People in Jordan / Lebanon,"[{'DocDate': '24-AUG-2013', 'EntityID': '09022...",Active
487,{'$oid': '52b213b38594d8a2be17c967'},MX,United Mexican States,Sustainable Production Systems and Biodiversity,"[{'DocDate': '22-JUN-2013', 'EntityID': '09022...",Active
488,{'$oid': '52b213b38594d8a2be17c968'},BR,Federative Republic of Brazil,RIO STATE DEVELOPMENT POLICY LOAN III,"[{'DocDate': '20-MAR-2013', 'EntityID': '09022...",Closed
489,{'$oid': '52b213b38594d8a2be17c969'},PG,The Independent State of Papua New Guine,Papua New Guinea Settlement Upgrading Programme,NaN,Closed
490,{'$oid': '52b213b38594d8a2be17c96a'},NP,Nepal,Nepal PFM-MDTF Strengthening Civil Society Org...,"[{'DocDate': '27-AUG-2012', 'EntityID': '09022...",Active
491,{'$oid': '52b213b38594d8a2be17c96b'},GZ,West Bank and Gaza,Water Supply and Sanitation Improvements for W...,"[{'DocDate': '07-NOV-2013', 'EntityID': '00033...",Active
492,{'$oid': '52b213b38594d8a2be17c96c'},PK,Islamic Republic of Pakistan,Pakistan: Promoting Girls' Education in Baloch...,"[{'DocDate': '09-OCT-2013', 'EntityID': '09022...",Active
493,{'$oid': '52b213b38594d8a2be17c96d'},BD,People's Republic of Bangladesh,Revision and Alignment of NAP with UNCCD 10-ye...,"[{'DocDate': '15-OCT-2013', 'EntityID': '09022...",Active
494,{'$oid': '52b213b38594d8a2be17c96e'},NP,Nepal,Nepal: Pilot Project for Seismic School Safety...,"[{'DocDate': '25-OCT-2013', 'EntityID': '09022...",Active
495,{'$oid': '52b213b38594d8a2be17c96f'},JM,Jamaica,Technological Scale Up for Youth-led Urban Orn...,NaN,Closed
496,{'$oid': '52b213b38594d8a2be17c970'},LA,Lao People's Democratic Republic,Lao Eight Poverty Reduction Support,"[{'DocDate': '31-AUG-2012', 'EntityID': '09022...",Closed
497,{'$oid': '52b213b38594d8a2be17c971'},GN,Republic of Guinea,Second Emergency Agricultural Productivity Sup...,"[{'DocDate': '10-JUL-2013', 'EntityID': '09022...",Active
498,{'$oid': '52b213b38594d8a2be17c972'},ID,Republic of Indonesia,Sustainable Management of Agricultural Researc...,"[{'DocDate': '27-JUN-2013', 'EntityID': '09022...",Active
499,{'$oid': '52b213b38594d8a2be17c973'},KE,Republic of Kenya,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,"[{'DocDate': '22-OCT-2013', 'EntityID': '09022...",Active

In [314]:
sample_json_df.describe()

,approvalfy,grantamt,ibrdcommamt,idacommamt,lendprojectcost,totalamt,totalcommamt,meanprojectcost
count,500.000000,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02
mean,2013.108000,4.432400e+06,3.286010e+07,3.542136e+07,1.547241e+08,6.828146e+07,7.271386e+07,1.547241e+08
std,0.722066,2.023307e+07,1.089197e+08,7.681431e+07,4.764211e+08,1.242662e+08,1.234705e+08,4.764211e+08
min,1999.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+04,0.000000e+00,3.000000e+04,3.000000e+04
25%,2013.000000,0.000000e+00,0.000000e+00,0.000000e+00,6.472500e+06,0.000000e+00,5.000000e+06,6.472500e+06
50%,2013.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+07,2.000000e+07,2.500000e+07,3.500000e+07
75%,2013.000000,1.695000e+06,0.000000e+00,3.700000e+07,1.021250e+08,8.625000e+07,9.045000e+07,1.021250e+08
max,2015.000000,3.650000e+08,1.307800e+09,6.000000e+08,5.170000e+09,1.307800e+09,1.307800e+09,5.170000e+09

In [315]:
#Find the 10 countries with most projects
sample_json_df[sample_json_df['projectstatusdisplay']=='Active'].groupby(['countryname','countrycode'])['project_name'].count().sort_values(ascending=False).head(10)

countryname                      countrycode
People's Republic of China       CN             19
Republic of Indonesia            ID             16
Republic of India                IN             15
Socialist Republic of Vietnam    VN             14
Republic of Yemen                RY             13
People's Republic of Bangladesh  BD             12
Africa                           3A             11
Nepal                            NP             11
Republic of Mozambique           MZ              9
Islamic Republic of Pakistan     PK              9
Name: project_name, dtype: int64

In [316]:
#Find the top 10 major project themes (using column 'mjtheme_namecode')
flat_list = [item for sublist in sample_json_df['mjtheme_namecode'] for item in sublist]

project_theme_df=json_normalize(flat_list)
#project_theme_df.columns = ['Code','Project Theme Name']
#project_theme_df['name'].value_counts().sort_values(ascending=False).head(10) #included missing values
no_missing_themes_df = project_theme_df[project_theme_df['name']!=''].groupby(project_theme_df['name']).count().sort_values('name',ascending=False).head(10)
no_missing_themes_df = no_missing_themes_df.drop(['code'],axis=1)
no_missing_themes_df.reset_index(drop=True)
no_missing_themes_df.columns = ['Project Themes']

no_missing_themes_df

                                              Project Themes
name
Environment and natural resources management             223
Rural development                                        202
Human development                                        197
Public sector governance                                 184
Social protection and risk management                    158
Financial and private sector development                 130
Social dev/gender/inclusion                              119
Trade and integration                                     72
Urban development                                         47
Economic management                                       33

In [317]:
#3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
import numpy as np
missing_themes_df = project_theme_df[project_theme_df['name']==''].replace(r'', np.nan, regex=True).fillna("MISSING THEME") #.count()
missing_themes_df

     code           name
1      11  MISSING THEME
13      6  MISSING THEME
17      8  MISSING THEME
19      7  MISSING THEME
24      2  MISSING THEME
29      4  MISSING THEME
40      2  MISSING THEME
42      7  MISSING THEME
80      4  MISSING THEME
98     11  MISSING THEME
100     7  MISSING THEME
107     4  MISSING THEME
117     8  MISSING THEME
119     7  MISSING THEME
121    10  MISSING THEME
127    11  MISSING THEME
134     4  MISSING THEME
165    10  MISSING THEME
171     4  MISSING THEME
173     2  MISSING THEME
185     7  MISSING THEME
187    11  MISSING THEME
197     4  MISSING THEME
201     5  MISSING THEME
210    11  MISSING THEME
212     1  MISSING THEME
217    10  MISSING THEME
230     4  MISSING THEME
232     6  MISSING THEME
233    11  MISSING THEME
...   ...            ...
1085    7  MISSING THEME
1114    1  MISSING THEME
1124    7  MISSING THEME
1178   10  MISSING THEME
1203    2  MISSING THEME
1224    6  MISSING THEME
1238    6  MISSING THEME
1240    6  MISSING THEME
1242    4  MISSING THEME
1244    6  MISSING THEME
1258    8  MISSING THEME
1268    2  MISSING THEME
1277    4  MISSING THEME
1319    5  MISSING THEME
1329    4  MISSING THEME
1331   11  MISSING THEME
1351    2  MISSING THEME
1358    2  MISSING THEME
1360   11  MISSING THEME
1414   11  MISSING THEME
1422   11  MISSING THEME
1424    4  MISSING THEME
1430    8  MISSING THEME
1437    1  MISSING THEME
1439   11  MISSING THEME
1457    4  MISSING THEME
1477   11  MISSING THEME
1481    5  MISSING THEME
1483    8  MISSING THEME
1491    6  MISSING THEME

[122 rows x 2 columns]