## Import the necessary libraries

In [296]:
import pandas as pd
import json
from pandas.io.json import json_normalize

## Load as Pandas dataframe

In [297]:

sample_json_df = pd.read_json('data/world_bank_projects.json')

## See the first and last 10 entries

In [450]:
sample_json_df.head(2)

sample_json_df.tail(2)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url,meanprojectcost
498,{'$oid': '52b213b38594d8a2be17c972'},2013,August,2012-08-02T00:00:00Z,REPUBLIC OF INDONESIA,2017-09-30T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,IBRD,Active,N,"{'Percent': 85, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","77,91,78",80000000,80000000,http://www.worldbank.org/projects/P117243/sust...,106000000
499,{'$oid': '52b213b38594d8a2be17c973'},2013,August,2012-08-02T00:00:00Z,GOVERMENT OF KENYA,2018-12-31T00:00:00Z,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,IBRD,Active,N,"{'Percent': 1, 'Name': 'Municipal governance a...","[{'code': '73', 'name': 'Municipal governance ...","39,49,88,73",300000000,300000000,http://www.worldbank.org/projects/P126321/keny...,300000000

## What is the number of observations in the dataset?

In [452]:
sample_json_df.info() #500 observations
sample_json_df.shape[0] #500 observations

#15 borrowers are missing 
#54 docty are missing
#70 envassesmentcategorycode are missing
#impagency are missing

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 51 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
meanprojectcost             500 non-null int64
dtypes: int64(8), object(43)
memory usage: 223.1+ KB

500

In [300]:
sample_json_df.shape[1]

50

<b>What is the number of columns in the dataset and print the name of all the columns.</b>

In [301]:
sample_json_df.shape[1] #50 columns in the dataset
sample_json_df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

## How is the dataset indexed?

In [302]:
sample_json_df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            490, 491, 492, 493, 494, 495, 496, 497, 498, 499],
           dtype='int64', length=500)

## Handle missing Data

In [453]:
sample_json_df["project_abstract"].fillna(sample_json_df["project_abstract"], inplace=True)
sample_json_df["project_abstract"].head(3)

0    {'cdata': 'The development objective of the Se...
1                                                  NaN
2                                                  NaN
Name: project_abstract, dtype: object

## Fill in missing in lendprojectcost with each project_name’s mean value of lendprojectcost

In [454]:
sample_json_df["meanprojectcost"]=sample_json_df['lendprojectcost']
sample_json_df["meanprojectcost"].fillna(sample_json_df.groupby("project_name")["lendprojectcost"].transform("mean"), inplace=True)
sample_json_df.head(4)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url,meanprojectcost
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...,550000000
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en,5700000
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en,6060000
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en,1500000

## Select the rows of df where sector4 is not NaN and lendprojectcost is not NaN

In [455]:
sample_json_df[sample_json_df['sector4'].notnull() & sample_json_df['lendprojectcost'].notnull()].head(3)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url,meanprojectcost
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...,550000000
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en,250000000
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,IBRD,Active,Y,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en,13450000

## How many different projects are being worked on?

In [306]:
sample_json_df.project_name.value_counts().count()

500

## How many different countries are part of world bank project?

In [308]:
sample_json_df.countrycode.value_counts().count()

118

## List Approval Fiscal Years?

In [309]:
approval_fiscal_years = sample_json_df['approvalfy'].unique()
approval_fiscal_years

array([1999, 2015, 2014, 2013])

## List top 10 projects with highest grant amount

In [312]:


c=sample_json_df[sample_json_df['projectstatusdisplay']=='Active'].groupby(['project_name','countryname']).sum()

c=c.sort_values(['grantamt'],ascending=False).head(10)

c = c.drop(['ibrdcommamt', 'idacommamt','totalamt','totalcommamt'], axis=1)

## Select project columns

In [456]:
sample_json_df.loc[:,['_id','countrycode','countryname','project_name','projectdocs','projectstatusdisplay']].head(3)

,_id,countrycode,countryname,project_name,projectdocs,projectstatusdisplay
0,{'$oid': '52b213b38594d8a2be17c780'},ET,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...",Active
1,{'$oid': '52b213b38594d8a2be17c781'},TN,Republic of Tunisia,TN: DTF Social Protection Reforms Support,"[{'DocDate': '29-MAR-2013', 'EntityID': '00033...",Active
2,{'$oid': '52b213b38594d8a2be17c782'},TV,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,"[{'DocDate': '21-OCT-2013', 'EntityID': '00033...",Active

In [314]:
sample_json_df.describe()

,approvalfy,grantamt,ibrdcommamt,idacommamt,lendprojectcost,totalamt,totalcommamt,meanprojectcost
count,500.000000,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02
mean,2013.108000,4.432400e+06,3.286010e+07,3.542136e+07,1.547241e+08,6.828146e+07,7.271386e+07,1.547241e+08
std,0.722066,2.023307e+07,1.089197e+08,7.681431e+07,4.764211e+08,1.242662e+08,1.234705e+08,4.764211e+08
min,1999.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+04,0.000000e+00,3.000000e+04,3.000000e+04
25%,2013.000000,0.000000e+00,0.000000e+00,0.000000e+00,6.472500e+06,0.000000e+00,5.000000e+06,6.472500e+06
50%,2013.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+07,2.000000e+07,2.500000e+07,3.500000e+07
75%,2013.000000,1.695000e+06,0.000000e+00,3.700000e+07,1.021250e+08,8.625000e+07,9.045000e+07,1.021250e+08
max,2015.000000,3.650000e+08,1.307800e+09,6.000000e+08,5.170000e+09,1.307800e+09,1.307800e+09,5.170000e+09

In [322]:
#Find the 10 countries with most projects
sample_json_df[sample_json_df['projectstatusdisplay']=='Active'].groupby(['countryname','countrycode'])['project_name'].count().sort_values(ascending=False).head(10)

countryname                      countrycode
People's Republic of China       CN             19
Republic of Indonesia            ID             16
Republic of India                IN             15
Socialist Republic of Vietnam    VN             14
Republic of Yemen                RY             13
People's Republic of Bangladesh  BD             12
Africa                           3A             11
Nepal                            NP             11
Republic of Mozambique           MZ              9
Islamic Republic of Pakistan     PK              9
Name: project_name, dtype: int64

In [432]:
#Find the top 10 major project themes (using column 'mjtheme_namecode')
flat_list = [item for sublist in sample_json_df['mjtheme_namecode'] for item in sublist]

project_theme_df=json_normalize(flat_list)
#all_themes_df = project_theme_df['name'].value_counts().sort_values(ascending=False).head(10) #included missing values
all_themes_df = project_theme_df.groupby('name').count().sort_values('code',ascending=False).head(10)
all_themes_df.reset_index(drop=True)
all_themes_df.columns = ['Project Themes']

all_themes_df

                                              Project Themes
name
Environment and natural resources management             223
Rural development                                        202
Human development                                        197
Public sector governance                                 184
Social protection and risk management                    158
Financial and private sector development                 130
                                                         122
Social dev/gender/inclusion                              119
Trade and integration                                     72
Urban development                                         47

In [469]:
#3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

import numpy as np

#Remove Duplicates from dictionary to create a lookup table
code_name_lookup_df = project_theme_df.drop_duplicates(['code'])
code_name_lookup_df

#Fill all the missing values with "MISSING THEME" (practice steps, but not necessary for the problem)
missing_themes_df = project_theme_df[project_theme_df['name']==''].replace(r'', np.nan, regex=True).fillna("MISSING THEME") #.count()
missing_themes_df

missing_themes_df = missing_themes_df.merge(code_name_lookup_df, on='code')
missing_themes_df[['code','name_y']].sort_values('code',ascending='True').drop_duplicates(['code'])

filled_themes_df = pd.merge(project_theme_df,code_name_lookup_df, on='code',how='inner',suffixes=['_old','_new'])

#Check if there are any "MISSING THEMES" in the new dataframe with all missing values filled in
filled_themes_df[(filled_themes_df.name_new == "MISSING THEME")].sort_index(ascending='True')

Empty DataFrame
Columns: [code, name_old, name_new]
Index: []